/*********************************************************************
 * 
 *      Theme Name: Midwest Dev
 *      Theme URI: https://www.midwestdev.io
 *      Version: 1.0
 *      Description: Custom Beaver Builder Child Theme built for Midwest Dev.
 *      Author: Midwest Dev
 *      Author URI: https://www.midwestdev.io
 *      template: bb-theme
 * 
 *********************************************************************/

@import 'assets/scss/functions';
@import 'assets/scss/variables';
@import 'assets/scss/reset';